.root
{
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}
body
{
  background-color: #242424; 
  background-repeat:no-repeat; 
  background-image: url(assets/home.png); 
  background-position: center;
}
div
{
  text-align: center; 
  font-size: 24x;
   margin: 0px; 
   padding: 0px;
}
select
{
  background-color: cadetblue;
  border-radius: 15%;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10%;
}
select:hover
{
  background-color: burlywood;
  opacity: .33;
}
select:active
{
  background-color: burlywood;
  opacity: .33;
}
button
{
  background-color:#2D5D5F;
  color: white;
  border-radius: 15%;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 20%;
}
button:hover
{
  color: cornsilk !important;
  background-color: cadetblue !important;
}
h1
{
  color: black;
  font-size: 48px;
  font-family: 'Oxanium', cursive;
}
h1-color
{
  color: #2D5D5F;
  font-size: 48px;
  font-family: 'Oxanium', cursive;
}
h2
{
  text-align: center;
  color: #707070;
  font-size: 24px;
  font-family: 'Oxanium', cursive;
}
h2-color
{
  text-align: center;
  color: #905442;
  font-size: 24px;
  font-family: 'Oxanium', cursive;
}
p 
{
  font-family: verdana;
  font-size: 20px;
}
.center
{
  margin: auto;
  width: 45%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}
.left
{
  margin: auto;
  width: 45%;
  border: 3px solid green;
  padding: 10px;
  text-align: left;
}
.right
{
  margin: auto;
  width: 45%;
  border: 3px solid green;
  padding: 10px;
  text-align: right;
}
.nav
{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav li
{
  display:inline;
}
.nav a
{
  display:inline-block;
  padding:10px;
}
#footer 
{
  position: fixed;
  align-content: center;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 12%;
  background-color:#707070;
}
#header
{  
  position: fixed;
  align-content: center;
  text-align: center;
  top: 0 !important;
  left: 0;
  right: 0;
  width: 100%;
  height: 12%;
  background-color: #333333;
}

a, a:active, a:hover, a:visited a:link
{
  color:black !important;
  text-decoration: none;
}
a:hover{
  color: cornsilk !important;
  background-color: cadetblue !important;
}
ul
{
  list-style-type: none;  
  margin: 0;
  padding: 0;
  display: inline-block;  
  text-align: center;
}
li 
{
  font-size: 24px;
  margin: 25px;
  color: black;
  display: inline-block;
  background: none;
  border: none;
  text-decoration: none;
  color: cornsilk;
}